.admin-container {
  max-width: 1150px;
  margin: 0 auto;

  h2 {
    margin: 20px 0 10px 30px;
  }
  .wine-card {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0px 20px;

      h3 {
        font-size: 2rem;
        width: 80%;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
}
.update-container {
  padding: 20px;

  .update-list {
    .header {
      display: flex;
      justify-content: space-between;
    }
    .update-checkbox:checked ~ .update {
      visibility: visible;
      position: unset;
      opacity: 1;
      transform: scaleY(1);
    }
    .update {
      visibility: hidden;
      position: fixed;
      opacity: 0;
      transform: scaleY(0);
      transition: .3s ease;
      transform-origin: top;
    }
  }
  #modalDelete {
    opacity: 0;
    transform: scaleY(0);
    visibility: hidden;
    position: fixed;
    transition: .3s;
    background: $color-3;
    padding: 30px 30px;
    border-radius: 30px;

    &:target {
      opacity: 1;
      visibility: visible;
      position: fixed;
      transform: scaleY(1);
    }

    .button-container {
      display: flex;
      justify-content: space-around;
      margin: 15px 0 0;
      padding: 0 40px;

      a {
        background: $color-2;
        text-align: center;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 20px;
        transition: .2s;

        &:hover {
          background: $color-1;
        }
      }
    }
  }
}